html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: rgb(68, 68, 69);
}

.blog {
  font-family: Roboto;
  font-size: 1.4rem;
}

.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6 {
  color: #ac1356;
  font-weight: 400;
}

.blog img {
  max-width: 980px;
}